<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="margin-left: 30px;">Bem Vindo!</span>
</div>

<!-- <ng-template #customLoadingTemplate> -->

  <div class="content" role="main">
    
    <div class="custom-file" style="text-align: center; padding-bottom: 40px;">
      <span style="font-weight: bold; font-size: 20px;">Faça o upload do arquivo JSON logo abaixo!</span>
      <br/>
      <br/>
      <input type="file" id="file" accept=".json" (change)="handleFileInput($event.target.files)">
      <label for="file">{{info}}</label>
    </div>

    <div style="display: block; padding-bottom: 50px;" *ngIf="quantidadeEstados.length > 0">
      <div style="font-weight: bold; text-align: center; font-size: 20px; padding-bottom: 20px;">Quantos candidatos temos nessa lista em cada estado do Brasil?</div>
      <canvas baseChart 
        [data]="pieChartData1" 
        [labels]="pieChartLabels1" 
        [chartType]="pieChartType1"
        [options]="pieChartOptions1"
        [plugins]="pieChartPlugins1"
        [legend]="pieChartLegend1">
      </canvas>
    </div>

    <div style="display: block; padding-bottom: 50px;" *ngIf="mediasFaixa.length > 0">
      <div style="font-weight: bold; text-align: center; font-size: 20px; padding-bottom: 20px;">IMC médio em cada faixa de idade de dez em dez anos</div>
      <canvas baseChart 
        [data]="pieChartData2" 
        [labels]="pieChartLabels2" 
        [chartType]="pieChartType2"
        [options]="pieChartOptions2"
        [plugins]="pieChartPlugins2"
        [legend]="pieChartLegend2">
      </canvas>
    </div>

    <div style="display: block; padding-bottom: 50px;" *ngIf="mediasTiposSanguineos.length > 0">
      <div style="font-weight: bold; text-align: center; font-size: 20px; padding-bottom: 20px;">Qual a média de idade para cada tipo sanguíneo?</div>
      <canvas baseChart 
        [data]="pieChartData4" 
        [labels]="pieChartLabels4" 
        [chartType]="pieChartType4"
        [options]="pieChartOptions4"
        [plugins]="pieChartPlugins4"
        [legend]="pieChartLegend4">
      </canvas>
    </div>

    <div style="display: block; padding-bottom: 50px;" *ngIf="quantidadeDoadores.length > 0">
      <div style="font-weight: bold; text-align: center; font-size: 20px; padding-bottom: 20px;">A quantidade de possíveis doadores para cada tipo sanguíneo receptor</div>
      <canvas baseChart 
        [data]="pieChartData5" 
        [labels]="pieChartLabels5" 
        [chartType]="pieChartType5"
        [options]="pieChartOptions5"
        [plugins]="pieChartPlugins5"
        [legend]="pieChartLegend5">
      </canvas>
    </div>

  </div>
<!-- </ng-template> -->

<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> -->

<router-outlet></router-outlet>